<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginandregistration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".admin_edit_details"></activity>
        <activity android:name=".book_for_adimin" />
        <activity android:name=".admin_update" />
        <activity android:name=".delete_admin_entry" />
        <activity android:name=".admin_home" />
        <activity android:name=".admin_signup" />
        <activity android:name=".admin_login" />
        <activity android:name=".addmoney" />
        <activity android:name=".cancel_booking" />
        <activity android:name=".cardDetails" />
        <activity android:name=".admin_data_insert" />
        <activity android:name=".bookhotel" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".user_admin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>